{% extends "person/base.html" %}


{% block title %}Locations for {{ person.user.username }}{% endblock %}

{% block body %}

<h3>
{{ person.user.username }}
</h3>

<table class="table table-striped">

<tr>
	<th>Location</th>
	<th>High</th>
	<th>Low</th>
	<th>Descriptive</th>
	<th>Last Updated</th>
	<th></th>
</tr>

{% for loc in person.location.all %}
<tr>
	<td>
		<a href="{% url 'location:detail' loc.pk %}">
		{{ loc.city }}, {{ loc.state }} {{ loc.zipcode }}
		</a>
	</td>
	<td>
		{{ loc.high }}
	</td>
	<td>
		{{ loc.low }}
	</td>
	<td>
		{{ loc.short_forecast }}
	</td>
	<td>
		{{ loc.last_update }}
	</td>
	<td>
		<a href="{% url 'location:refresh' loc.pk %}"><span class="glyphicon glyphicon-refresh"></span></a>
	</td>
</tr>

{% endfor %}
</table>

<a href="{% url 'location:refresh_all' %}"><span class="glyphicon glyphicon-refresh"></span> Refresh All</a>

{% endblock %}